*, html, body{
    margin: 0;
    padding: 0;
}

:root {
 --bg-primary: rgb(91, 177, 227);
 --bg-secondary: #eaeaea;
 --txt-primary: #f7f7f7;
 --txt-secondary: #222222;
 --icons-bg-primary: #c16767;
}

.container {
    width: auto;
    height: 100vh;
    background-color: var(--bg-primary);
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card {
    border: 1px solid white;
    color: var(--txt-secondary);
    padding: 20px;
    margin: 8px;
    background-color: var(--bg-secondary);
    font-family: 'Silkscreen', cursive;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text-center {
    text-align: center;
}

.title {
    font-size: 2em;
}

.icons {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 24px;
    color: var(--icons-bg-primary);
}

.description {
    margin-top: 5px;
    font-size: .7em;
    margin-top: 8px;
}

.btn {
    margin-top: 16px;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 100%;
}

.btn:hover {
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    transform: rotate(2deg);
}